* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.1);
}

/* fixes issue in safari */
.nav--logo {
  max-width: 100px;
}

/* Hero */

section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--img {
  max-width: 400px;
  align-self: center;
}

.hero--header {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 16px;

}

.hero--text {
  width: 320px;
  font-size: 16px;
  font-weight: 300;
  margin-top: 0;
}

/* Card */

.card--img {
  background-image: url('https://s3-alpha-sig.figma.com/img/9482/8e80/5b8276d0107c051ebf1f83bddb196691?Expires=1641772800&Signature=C8uI3KHp-Ze568FdQnPtvmE0DjksxoJ4CQ44q8PVI2kVplJsnqOqhoxwtDG551TCcUrLXkuGcS1n5pJdb4V9Us-e3~VfolIOx~M4sETTrnls1A8Lr4zAK2cxU7lc-y0LwTzd1U7S7VQ9jYxB-Andreu~i955wwrEFwaAnHxWRhazFJnzsTNEEE7tfLqgQIxlQAFXUB9xxF8LxJ5LYTMXNodlzmVvAhv7Z8PPgAKR4hg4CN~7QcrlJJUCEr1wfXfmLjkbGq0bkup8HnJo8-8SisCvRxQgw-1U~WgCdnIXtpmNnNvCvagqfQDqAiwTcdCL0KvuAsd1T86ZVToTQ4lnIg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  width:180px;
  height: 235px;;
}